
.DS_Store

*~
*/__pycache__

*/output/*raw
*/output/*root
*/output/*mhd
*/output/*txt

/gmon.out

.idea

/*.zip
/GateTools
/dpk_benchmark.tar.gz
/*mhd
/*raw

/t8_LETActor/output-carbon.pdf
/t8_LETActor/output-proton.pdf

/*/output.pdf
